absl-py==0.13.0
aiohttp==3.7.4.post0
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
coverage==5.5
cryptography==3.4.8
Cython==0.29.24
Django==3.2.9
django-cors-headers==3.10.1
django-filter==21.1
djangorestframework==3.12.4
flatbuffers==20210226132247
gast==0.4.0
google-auth==1.33.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.36.1
h5py==3.6.0
idna==3.2
importlib-metadata==4.8.1
Keras-Preprocessing==1.1.2
Markdown==3.3.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
multidict==5.1.0
numpy==1.21.2
oauthlib==3.1.1
opencv-python==4.5.4.60
opt-einsum==3.3.0
Pillow==8.4.0
pip==21.2.4
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.1.0
pyOpenSSL==21.0.0
PySocks==1.7.1
pytz==2021.3
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.7.1
setuptools==58.0.4
six==1.16.0
sqlparse==0.4.2
tensorboard==2.5.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
termcolor==1.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wheel==0.35.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.6.0
